/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 800 */

body {
  background-color: #e6e9f0;
  color: #08276b;
  /* max-width: 95%; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  font-variation-settings: "wdth" 100;
}

.intro {
  background-color: #08276b;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #e7e7e7;
}

.me {
  width: 300px;
  max-width: 30%;
  height: auto;
}

.header-txt {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  text-decoration: none;
}

a:link {
  color: #e6e9f0;
}

a.project-link:link {
  color: #08276b;
}

a:visited {
  color: #e6e9f0;
}

a.project-link:visited {
  color: #08276b;
}

a:hover {
  color: #525355;
}

a.project-link:hover {
  color: #525355;
}

a:active {
  color: #dcab0b;
}

a.project-link:active {
  color: #dcab0b;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

h1 {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.prof-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 2px;
  font-size: 8px;
}

.prof-contact > a {
  padding: 10px;
}

.aboutme {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.img-typing {
  background-image: url('media/hands-typing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.aboutme::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75); /* White with 50% opacity */
  z-index: 0;
}

.aboutme p {
  margin: 20px;
  opacity: 100%;
  position: relative; /* Bring text above the overlay */
  z-index: 1;
  opacity: 1; /* Ensure text is fully opaque */
  top: 40vh;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-align: justify;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.techstack {
  margin-right: 5px;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.project-item {
  text-decoration: none;
  margin-top: 10px;
  max-width: 300px;
  padding-right: 20px;
}

.project-link {
  font-style: oblique;
  font-weight: bold;
}

.project-img {
  max-width: 200px;
}

.title-container {
  text-align: center;
}

.page-title {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  background-color: #2983bc;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px 10px 10px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  color: #e6e9f0;
}

footer {
  background-color: #08276b;
  padding: 5px;
  bottom: 0;
  color: #e7e7e7;
  font-style: italic;
  font-size: 10px;
}

/* Responsive CSS for iPad and larger screens */
@media screen and (width >= 700px) {
  body {
    font-size: 15px;
  }

  .intro {
    gap: 20px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    margin-top: 20px;
    font-size: 18px;
  }

  .prof-contact {
    font-size: 13px;
  }

  footer {
    font-size: 12px;
  }
}

/* Responsive CSS for the largest screens */
@media screen and (width >= 1000px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 28px;
  }

  .prof-contact {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    font-size: 20px;
  }

  .me {
    max-width: 20%;
  }

  .aboutme {
    gap: 30px;
    padding: 0 30px 0 0;
  }

  footer {
    font-size: 18px;
  }
}
