@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  /* background-image: url('../assets/code-img.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh; */
  background-color: #ffffff;
}
