body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/code-img.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: grey;
}
