.header {
    background-color: #2983bc;
    color: #e7e7e7;
    top: 0;
  }

  .header a {
    text-decoration: none;
  }

  .header a:link {
    color: #e6e9f0;
  }

  .header a:visited {
    color: #e6e9f0;
  }

  .name-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .my-logo {
    max-width: 60px;
    height: auto;
  }

  .my-name {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 0;
    font-size: 32px;
  }

  .my-title {
    text-align: center;
    font-style: oblique;
    margin: 0;
    padding: 5px 3px 0;
    font-size: 17px;
  }

  .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 14px;
    gap: 15px;
    padding: 5px;
  }
