.sample-title-container {
  text-align: center;
}

.sample-page-title {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  background-color: #2983bc;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px 10px 10px 10px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  color: #e6e9f0;
}

.sample-sites {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  font-size: 12px;
}

.sample p {
  padding: 0;
  margin: 0 20px;
}
