.sample-sites {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}

.sample p {
  padding: 0 15px;
  margin: 0;
  text-align: left;
}

.sample a {
  color: #2983bc;
  text-decoration: none;
}

.sample-project-link {
  font-weight: 700;
}
